* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:black;
    
}
.container {
    width: 80%;
    margin: 0 auto;
    
}

.header {
    height: 50px;
    background-color:#1999B0;
    
}




.botonera {
    display: block;
    text-align: center;
}


a {
    
    padding: 0.5em;
    
    width: 200px;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
    
}

a:hover {
    background-color: blanchedalmond;
    color: chocolate;
    transition: all 600ms;
}

.contenido{
    /*border: 1px solid;*/
    height: auto;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #1999B0
}

.principal{
    width: 75%;
    /*border: 1px solid;*/

}

.secundario-lateral{
    width: 25%;
    
    /*border: 1px solid;*/
    
}

h1 {
    color: turquoise;
    text-align: center;
    margin-top: 1em;
}

img {
    margin: 0 auto;
    display: block;
    margin: 0 auto;
}

.sticky {
    position: sticky;
    top: 0px;
    margin: 1em;
}

table {
    margin: 1em auto;
    
}

h3 {
    
    text-align: center;
    padding: 1em;
}